<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.cameraview">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application>
        <activity
            android:name="com.inz.z.base_camera.view.activity.BaseCameraActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
