<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inz.z.note_book">

    <application
        android:name=".NoteBookApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_vd_image"
        android:label="@string/app_name"
        android:theme="@style/NoteBookAppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoteBookAppTheme">

        </activity>

        <activity
            android:name=".view.activity.SplashActivity"
            android:configChanges="screenSize|screenLayout|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoteBookAppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 组 -->
        <activity
            android:name=".view.activity.GroupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/NoteBookAppTheme" />

        <!-- 笔记信息 -->
        <activity
            android:name=".view.activity.NewNoteActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoteBookAppTheme">

        </activity>
    </application>
</manifest>
