<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inz.z.note_book">

    <application
        android:name=".NoteBookApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_vd_image"
        android:label="@string/app_name"
        android:theme="@style/BaseAppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".view.activity.MainActivity"
            android:theme="@style/BaseAppTheme">

        </activity>

        <activity
            android:name=".view.activity.SplashActivity"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:theme="@style/NoteBookAppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>
