<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inz.z.zlauncher">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoAction"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!-- 桌面程序  -->
        <activity
            android:name=".view.activity.ZLauncherActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoAction">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
