<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity
            android:name="com.inz.z.view.activity.TiwBaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
