<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inz.z.music">

    <application>
        <activity
            android:name=".view.activity.MainBaseActivity"
            android:theme="@style/MusicTheme.NoActionBar" />

        <activity
            android:name=".view.activity.PlayActivity"
            android:theme="@style/MusicTheme.NoActionBar" />
    </application>
</manifest>
