<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inz.z.app_update">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppUpdate"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".view.AppUpdateActivity">

        </activity>


        <!-- 下载Service  -->
        <service android:name=".service.DownloadService" />

        <provider
            android:name=".AppUpdateFileProvider"
            android:authorities="com.inz.z.app_update.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_update_provider_paths" />
        </provider>
    </application>

</manifest>